html {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
}

body {
    margin: 24px 18px;
}

.platformHeader {
    display: flex;
    align-items: center;
    gap: 10px;
}

.platformHeader h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.platformHeader img {
    width: 24px;
    height: 24px;
}